.parking-form {
    max-width: 600px;
    margin: 20px auto;
  }
  
  @media only screen and (max-width:580px) {
    h2 {
      font-size: 30px;
    }
  }
  
  @media only screen and (max-width: 398px) {
    h2 {
      font-size: 25px;
    }
  }